* {
    margin: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 25px;
    text-align: center;
}

main {
    display: flex;
}
.search-form h3 {
    font-size: 25px;
}
input[type=text] {
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    outline: none;
    border-radius: 5px;
    font-size: large;
}
  
input[type=text]:focus {
    border: 3px solid #555;
}
.search-form button {
    padding: 11px;
    background-color: dodgerblue;
    outline: none;
    border-radius: 11px;
    color: floralwhite;
    font-weight: 600;
    font-size: 15px;
}
.history {
    background-color: white;
    height: 60vh;
}
.left-content {
    flex: 25%;
    background-color: #f8f9fa;
    padding: 15px;
    height: 70vh;
}
.right-content {
    flex: 75%;
    margin-left: 15px;
    margin-right: 10px;
    padding: 15px;
}

.current-day-content {
    height: 40vh;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 15px;
}
.current-day-content h3 {
    font-size: 35px;
    margin-bottom: 30px;
}
.current-day-content p {
    font-size: 20px;
    margin-top: 10px;
}
.city-title-heading {
    display: flex;
}
.weather-img {
    position: relative;
    bottom: 30px;
}

.safe-index {
    background-color: greenyellow;
}
.moderate-index {
    background-color: yellow;
}
.high-index {
    background-color: orange;
}
.very-high-index {
    background-color: red;
}
.extreme-index {
    background-color: purple;
}

.five-day-content {
    height: 24vh;
    border: 1px solid black;
    padding: 15px;
}
.five-day-wrapper {
    display: flex;
    justify-content: space-between;
}
.five-day-card {
    background-color: rgb(95, 191, 223);
    height: 200px;
    width: 185px;
    border-radius: 5px;
}